<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1001031051231-5emg1l3ppp340re4jbmrhq0n8svmlkm7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1001031051231-5emg1l3ppp340re4jbmrhq0n8svmlkm7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1001031051231-qe8rf9t82s9a1oc6sliauc6c49p7mn9r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCptbFx6mFs6e3rwT7Qw1ECJ2w6_I0XEJw</string>
	<key>GCM_SENDER_ID</key>
	<string>1001031051231</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.itsUrgent</string>
	<key>PROJECT_ID</key>
	<string>its-urgent</string>
	<key>STORAGE_BUCKET</key>
	<string>its-urgent.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1001031051231:ios:52271fba341f9c0dfe866a</string>
</dict>
</plist>